/*Text Colors*/

$white-color-text: white;
$green-color-text: #2ecc71;
$link-color-text: #e74c3c;
$linkHover-color-text: #3498db;
$navy-color-text: #2c3e50;

/*Background Colors*/

$navbar-color-background: black;
$yellow-color-background: #f1c40f;
$green-color-background: #2ecc71;