
@media screen and (min-width: 500px) {
  html {
    font-size: 12px;
    
    #profile{#profileDetails{
       #profilePic {
       width: 100px;
        margin: 20px 15px 0px 0px;
       }}
    }
  }
}

@media screen and (min-width: 570px) {
  html {
     #profile{#profileDetails{
      #profilePic {
      width: 120px;
        margin: 20px 25px 0px 0px;
      }}
    }
  }
  }

@media screen and (min-width: 620px) {
  html {
     #profile{#profileDetails{
      #profilePic {width: 130px;
        margin: 20px 20px 0px 0px;
      }}
    }
  }
}

@media screen and (min-width: 680px) {
  html {
    #profile{#profileDetails{
      #profilePic {width: 140px;}}
     margin: 20px 30px 0px 0px;
    }
  }
}

@media screen and (min-width: 720px) {
  html {
    #profile{#profileDetails{
      #profilePic {width: 140px;
        margin: 20px 25px 0px 0px;
      }}
    }

@media screen and (min-width: 768px) {
  html {
    font-size:13px;
    #skills{
       padding: 60px 0px 60px 0px;
    }
  }
    }

@media screen and (min-width: 990px) {
  html {
    .navbar {
        li{
    text-align: center;
        }
    }
    #profile{
        #profilePic {
        width: 140px;
       margin-top: 0px 0px 0px 0px;
        }
        }

#skills {
    padding: 60px 100px 60px 100px;}

        }}}}
  
  
  
    