  .navbar {
        a, i{
    font-size: 0.969rem;
    text-align: center;
        }
    
      h4{
      font-size: 1.4rem;
     margin-top: 10px;}
      }
      nav{
      padding:0px 0px 0px 5px;
  }