#profile {
    margin: 0px 0px 0px 0px;
    padding: 60px 0px 60px 0px;
    #profileDetails {
     h1, h2, i, p {
    text-align: justify;
         color: $white-color-text;
      }  
      h2, i {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
      }
    }
         #contact {
        padding: 5px 0px 0px 20px;
         
         .contact {
            h4, p, i {
            color: $green-color-text;
            font-size: 2rem;}
         }

        .pageIcon {
            i {
            color: $link-color-text;
            font-size: 3rem;}

            i:hover{color:$linkHover-color-text;}
          float: left;
          width:110px;
          margin: 0px 1px 0px 0px;
        }
    }
}